﻿@model IMSManagementSystem.Models.Class

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Common/_Layout.cshtml";
}

 <h1 class="z-index-1">Add Class</h1>
 <hr/>
@{
    if (@ViewBag.isSuccess)
    {
        <div class="position-absolute top-0 end-0 mt-5 me-2">
            <div role="alert" class="toast show" aria-live="assertive" aria-atomic="true" id="myDiv" data-autohide="true">
                <div class="toast-header bg-success text-white">
                    <strong class="mr-auto">Successfully</strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    Add class successfully
                </div>
            </div>
        </div>   
    }
    
    if (@ViewBag.isDuplicate)
    {
        <div class="position-absolute top-0 end-0 mt-5 me-2">
            <div role="alert" class="toast show" aria-live="assertive" aria-atomic="true" id="myDiv" data-autohide="true">
                <div class="toast-header bg-danger text-white">
                    <strong class="mr-auto">Fail</strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    This class is duplicated!
                </div>
            </div>
        </div>   
    }

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Class Name<span class="mb-2">*</span></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label class="control-label">Subject<span class="mb-2">*</span></label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.Subject">
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label class="control-label">Semester<span class="mb-2">*</span></label>
                <select asp-for="SemesterId" class ="form-control" asp-items="ViewBag.Semester">
                </select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label class="control-label">Teacher<span class="mb-2">*</span></label>
                <select asp-for="TeacherId" class ="form-control" asp-items="ViewBag.Teacher">
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label class="control-label">Started Date<span class="mb-2">*</span></label>
                <input asp-for="StartedDate" class="form-control" step="1" type="date"/>
                <span asp-validation-for="StartedDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label class="control-label">Status<span class="mb-2">*</span></label>
                <select asp-for="IsPending" class="form-control">
                    <option value="">-- Select Status --</option>
                    <option value=True>Pending</option>
                    <option value=False>Started</option>
                </select>
                <span asp-validation-for="IsPending" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    <script>
        $(document).ready(function () {
            $("#myDiv").show();

            setTimeout(function () {
                $("#myDiv").fadeOut(2000);
            }, 3000);
        });
    </script>
}