﻿@using IMSManagementSystem.Model;
@model IMSManagementSystem.Models.Class
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Common/_Layout.cshtml";
   
}

 <h1 class="z-index-1">Edit Class</h1>
 <hr/>
@{
    if (@ViewBag.isSuccess)
    {
        <div class="position-absolute top-0 end-0 mt-5 me-2">
            <div role="alert" class="toast show" aria-live="assertive" aria-atomic="true" id="myDiv" data-autohide="true">
                <div class="toast-header bg-success text-white">
                    <strong class="mr-auto">Successfully</strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    Edit class successfully
                </div>
            </div>
        </div>   
    }
}
<ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" id="general-tab" href="#general">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" id="students-tab" href="#students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" id="milestones-tab" href="#milestones">Milestones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" id="settings-tab" href="#settings">Settings</a>
    </li>
</ul>

<div class="tab-content mt-2">
    <div class="tab-pane fade show active" id="general">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="ClassId" class="form-control" hidden/>
                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Class Name<span class="mb-2">*</span></label>
                        <input asp-for="ClassName" class="form-control" />
                        <span asp-validation-for="ClassName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label class="control-label">Subject<span class="mb-2">*</span></label>
                        <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.Subject">
                        </select>
                        <span asp-validation-for="SubjectId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label class="control-label">Semester<span class="mb-2">*</span></label>
                        <select asp-for="SemesterId" class="form-control" asp-items="ViewBag.Semester">
                        </select>
                        <span asp-validation-for="SemesterId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label class="control-label">Teacher<span class="mb-2">*</span></label>
                        <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.Teacher">
                        </select>
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label class="control-label">Started Date<span class="mb-2">*</span></label>
                        <input asp-for="StartedDate" class="form-control" step="1" type="date" />
                        <span asp-validation-for="StartedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label class="control-label">Status<span class="mb-2">*</span></label>
                        <select asp-for="IsPending" class="form-control">
                            <option value="">-- Select Status --</option>
                            <option value=True>Pending</option>
                            <option value=False>Started</option>
                        </select>
                        <span asp-validation-for="IsPending" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="students">
        <p class="ms-2">
            <a href="/Student/Add?classId=@Model.ClassId">Create New</a>
        </p>
        @if (ViewBag.Student.Count <= 0)
        {
            <tr>No records found!</tr>
        }else
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Gmail
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Status
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in @ViewBag.Student)
                {
                    <tr>
                        <td>
                            @item.Student.UserId
                        </td>
                        <td>
                            @item.Student.FullName
                        </td>
                         <td>
                            @item.Student.Gmail
                        </td>
                        <td>
                            @item.Student.Phone
                        </td>
                        @if (item.IsActive)
                        {
                           <td class="text-success">
                            Active
                           </td> 
                        }else
                        {
                            <td class="text-danger">
                            In-Active
                           </td>
                        }
                    </tr>
                }
               
            </tbody>
        </table>
        }
    </div>
     
    <div class="tab-pane fade" id="milestones">
        @if (ViewBag.Milestone.Count <= 0)
        {
            <tr>No records found!</tr>
        }else
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Milestone ID
                    </th>
                    <th>
                        Milestone Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Started Time
                    </th>
                    <th>
                        Finished Time
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.Milestone)
                {
                    <tr>
                        <td>
                            @item.MilestoneId
                        </td>
                        <td>
                            @item.MilestoneName
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.StartedDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>

    <div class="tab-pane fade" id="settings">
        @if (ViewBag.Setting.Count <= 0)
        {
            <tr>No records found!</tr>
        }else
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Setting ID
                    </th>
                    <th>
                        Setting Name
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.Setting)
                {
                    <tr>
                        <td>
                            @item.SettingId
                        </td>
                        <td>
                            @item.SettingName
                        </td>
                        @if (item.IsActive)
                        {
                            <td class="text-success">
                                Active
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                In-Active
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId" />
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <select asp-for="SemesterId" class="form-control" asp-items="ViewBag.SemesterId"></select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartedDate" class="control-label"></label>
                <input asp-for="StartedDate" class="form-control" />
                <span asp-validation-for="StartedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPending" /> @Html.DisplayNameFor(model => model.IsPending)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
    <script>
        $(document).ready(function () {
            $("#myDiv").show();

            setTimeout(function () {
                $("#myDiv").fadeOut(2000);
            }, 3000); // 3000 milliseconds = 3 seconds
        });
    </script>
}
