﻿@using IMSManagementSystem.Model;
@model IEnumerable<IMSManagementSystem.Models.Class>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Common/_Layout.cshtml";

    var pager = new Pager<Class>();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    if (@ViewBag.isSuccess != null && ViewBag.isSuccess == true)
    {
        <div class="position-absolute top-0 end-0 mt-5 me-2">
            <div role="alert" class="toast show" aria-live="assertive" aria-atomic="true" id="myDiv" data-autohide="true">
                <div class="toast-header bg-success text-white">
                    <strong class="mr-auto">Successfully</strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    Delete/Cancel class successfully
                </div>
            </div>
        </div>
    }
}

<h1>Class Management</h1>

<p class="ms-2">
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <div class="row">
        <input type="text" class="col-lg-3 ms-3" placeholder="Class Name" name="className" value="@ViewBag.ClassName" />
        <button class="btn btn-primary col-lg-1 ms-2" type="submit">Search</button>
    </div>
</form>
@if (Model.Count() <= 0)
{
    <tr>No records found!</tr>
}else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Class ID
                </th>
                <th>
                    Class Name
                </th>
                <th>
                    Teacher
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Semester
                </th>
                <th>
                    Started Date
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    Last Update Date
                </th>
                <th>
                    Status
                </th>
                <th>Action</th>
            </tr>
        </thead>
 
         <tbody>
            @foreach (var item in Model) {
            
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Semester.SettingName)
                        </td>
                        <td>
                            @item.StartedDate.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.CreatedDate.ToString("dd/MM/yyyy")
                        </td>
            
                        @{
                            if(@item.UpdatedDate != null)
                            {
                                <td>@item.UpdatedDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            if(item.IsPending == true)
                            {
                                <td class="text-danger">Pending</td>
                            }
                            else
                            {
                                <td class="text-success">Started</td>
                            }
                        }
                        <td class="pt-1">

                        <form id="deleteForm" method="post">
                            <input type="hidden" id="cId" value="@item.ClassId" name="cId" />
                            <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a> |
                            <button type="button" class="btn btn-danger btn-sm" onclick="openDeleteModal('@item.ClassId')">
                                Delete
                            </button>
                        </form>
                    
                        </td>
                    </tr>
           
            }
        </tbody>
  
    </table>
}
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete or cancel this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
<ul class="pagination justify-content-end">
    @if (pager.CurrentPage > 1)
    {
        <li class="page-item">
            <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="1">First</a>            
        </li>
        <li class="page-item">
             <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
        </li>
           
    }
    @for (var pg = pager.StartPage; pg <= pager.EndPage; pg++)
    {
        <li class="page-item @(pg == pager.CurrentPage ? "active" : "")">
            <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@pg">@pg</a>
        </li>
    }

    @if(pager.CurrentPage < pager.TotalPages)
    {
        <li class="page-item">
            <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@(pager.TotalPages)">Last</a>
        </li>
    }
</ul>
</div>


<script>
    function openDeleteModal(classId) {
        document.getElementById('cId').value = classId;
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
        deleteModal.show();
    }

    function confirmDelete() {
            document.getElementById('deleteForm').submit();
    }
</script>
