﻿@model Milestone
@{
    ViewData["Title"] = "Detail";
}

<div class="modal fade" role="dialog" id="mdetail" aria-labelledby="detailLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailLabel">Milestone Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>
                        Milestone ID: 
                    </dt>
                    <dd>
                        @Model.MilestoneId
                    </dd>
                    <dt>
                        Title: 
                    </dt>
                    <dd>
                        @Model.MilestoneName
                    </dd>
                    <dt>
                        Class: 
                    </dt>
                    <dd>
                        @Model.Class.ClassName
                    </dd>
                    <dt>
                        Start:
                    </dt>
                    <dd>
                        @Model.StartedDate.ToString("dd/MM/yyyy") at @Model.StartedDate.ToString("HH:mm")
                    </dd>
                    <dt>
                        End:
                    </dt>
                    <dd>
                        @Model.StartedDate.ToString("dd/MM/yyyy") at  @Model.StartedDate.ToString("HH:mm")
                    </dd>
                    <dt>
                        Description:
                    </dt>
                    <dd>
                        @Model.Description
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>