﻿@using IMSManagementSystem.Model;
@model IEnumerable<IMSManagementSystem.Models.Milestone>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Common/_Layout.cshtml";
    var pager = new Pager<Milestone>();

    int pageNo = 1;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Milestone Management</h1>
<h3>Class Milestone </h3>
<table class="table">
    <thead>
        <tr>
            <th>Milestone ID</th>
            <th>
                Class
            </th>
            <th>
                Title
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ClassId != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MilestoneId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MilestoneName)
                    </td>
                    <td>
                        @item.StartedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.EndDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a href="#" data-toggle="ajax-modal" data-target="@("#mdetail")" data-url="@Url.Action($"Detail?id={item.MilestoneId}")">Details</a>
                        @await Html.PartialAsync("Detail",item)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="container">
    <ul class="pagination justify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
            </li>

        }
        @for (var pg = pager.StartPage; pg <= pager.EndPage; pg++)
        {
            <li class="page-item @(pg == pager.CurrentPage ? "active" : "")">
                <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@pg">1</a>
            </li>
        }

        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="Class" asp-action="List" asp-route-className="@ViewBag.ClassName" asp-route-pg="@(pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
</div>

<h3>Project Milestone </h3>
<table class="table">
    <thead>
        <tr>
            <th>Milestone ID</th>
            <th>
                Project
            </th>
            <th>
                Title
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ProjectId != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MilestoneId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MilestoneName)
                    </td>
                    <td>
                        @item.StartedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.EndDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a href="#" data-toggle="ajax-modal" data-target="@("#mdetail")" data-url="@Url.Action($"Detail?id={item.MilestoneId}")">Details</a>
                        @await Html.PartialAsync("Detail",item)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="container">
    <ul class="pagination justify-content-end">
        @for (var pg = pager.StartPage; pg <= pager.EndPage; pg++)
        {
            <li class="page-item @(pg == pager.CurrentPage ? "active" : "")">
                <a class="page-link">1</a>
            </li>
        }
    </ul>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}