﻿@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Common/_Layout.cshtml";
}
<div class="container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <h2>Login </h2>
    <form asp-action="login" asp-controller="Login">
        <div class="form-group">
            <label for="email">Username</label>
            <input type="text" class="form-control" id="email" placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <a href="register">Register</a>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>
