﻿@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Common/_Layout.cshtml";
}
<div class="container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <h2>Register</h2>
    <form asp-action="Register" asp-asp-controller="Login" method="post" enctype="multipart/form-data">
        <div class="form-group col-lg-6">
            <label for="inputEmail4">UserName</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Username" name="username" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="inputAddress">Full Name</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Full Name" name="fullname" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="inputAddress2">Email</label>
            <input type="email" class="form-control" id="inputAddress2" placeholder="Email" name="email" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="inputCity">Phone</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Phone" name="phone" required>
        </div> 
        <div class="form-group col-lg-6">  
            <img style="width:200px;height: 100px" id="image" />
            <label for="exampleFormControlFile1">Avatar</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" onchange="preview()" required>
        </div>
        @if(ViewBag.error != null)
        {
            <div style="color : red">@ViewBag.error</div>
        }
        @if (ViewBag.report != null)
        {
            <div style="color : green">@ViewBag.report</div>
        }
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
<script type="text/javascript">
    function preview() {
        const selectedFile = event.target.files[0];
        if (selectedFile) {
            selectedFile.preview = URL.createObjectURL(selectedFile); // Tạo đường dẫn tạm thời cho ảnh
            console.log(selectedFile);
            $('#image').attr('src', selectedFile.preview).load(function () {
                $(this).width(); // this is how you get new width of image
            });
        }
    }
</script>
